* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #ededed;

}

.footer {
    padding: 40px 0px;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.social a {
    font-size: 24px;
    border: 1px solid #ccc;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 8px;
    display: inline-block;
    opacity: 0.75;

}

.social a:hover {
    opacity: 0.9;
}

.list {
    text-align: center;
    font-size: 18px;
}

.footer ul li a {
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: inherit;
}