*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background: rgb(33,0,36);
    background: linear-gradient(90deg, rgba(33,0,36,1) 0%, rgba(230,9,76,0.9164040616246498) 100%, rgba(136,0,255,1) 100%);
    height: 100vh;
}

.frame{
    display: grid;
    align-content: space-between;
    width: 100%;
    grid-gap: 70vw;
    grid-template-columns: auto auto auto 1fr;
    grid-template-areas: 'title title links demos';
    text-align: center;
}
.frame__title-wrap{
    margin: 40px 0;
    margin-left: 20px;
}
.frame__title-wrap a{
    text-decoration: none;
}

.frame__logo{
    margin-top: 20px;
}
.frame__logo img{
    height: 90px;
    max-width: 160px;
}

.frame__button{
    padding: 10px 20px;
    background:red;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width:992px){
    .frame{
        grid-gap: 60vw;
    }
    .frame__logo img{
        height: 80px;
        max-width: 100px;

    }

}

@media screen and (max-width:744px){
    .frame{
        
        grid-gap: 50vw;
    }
    .frame__logo img{
        height: 70px;
        max-width: 100px;

    }

}


@media screen and (max-width:492px){
    .frame{
        grid-gap: 40vw;
    }
    .frame__logo img{
        height: 50px;
        max-width: 70px;

    }
    .frame__button{
        padding: 5px 10px;
    }

}

@media screen and (max-width:375px){
    .frame{
        grid-gap: 30vw;
    }
    .frame__logo img{
        height: 50px;
        max-width: 60px;

    }
    .frame__button{
        padding: 5px 10px;
    }

}